<h1>Data Wrangling 1</h1>

__1. Basics on DataFrame__

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [7]:
df= pd.read_csv("autodata.csv")  #load the dataset into dataframe object df

In [8]:
print(df) #printing the whole dataset rows and columns

     Unnamed: 0  symboling  normalized-losses         make aspiration  \
0             0          3                122  alfa-romero        std
1             1          3                122  alfa-romero        std
2             2          1                122  alfa-romero        std
3             3          2                164         audi        std
4             4          2                164         audi        std
..          ...        ...                ...          ...        ...
196         196         -1                 95        volvo        std
197         197         -1                 95        volvo      turbo
198         198         -1                 95        volvo        std
199         199         -1                 95        volvo      turbo
200         200         -1                 95        volvo      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
196         four        sedan          rwd           front       109.1  ...
197         four        sedan          rwd           front       109.1  ...
198         four        sedan          rwd           front       109.1  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...

     compression-ratio  horsepower  peak-rpm  city-mpg highway-mpg    price  \
0                  9.0       111.0    5000.0        21          27  13495.0
1                  9.0       111.0    5000.0        21          27  16500.0
2                  9.0       154.0    5000.0        19          26  16500.0
3                 10.0       102.0    5500.0        24          30  13950.0
4                  8.0       115.0    5500.0        18          22  17450.0
..                 ...         ...       ...       ...         ...      ...
196                9.5       114.0    5400.0        23          28  16845.0
197                8.7       160.0    5300.0        19          25  19045.0
198                8.8       134.0    5500.0        18          23  21485.0
199               23.0       106.0    4800.0        26          27  22470.0
200                9.5       114.0    5400.0        19          25  22625.0

     city-L/100km horsepower-binned  diesel  gas
0       11.190476               Low       0    1
1       11.190476               Low       0    1
2       12.368421            Medium       0    1
3        9.791667               Low       0    1
4       13.055556               Low       0    1
..            ...               ...     ...  ...
196     10.217391               Low       0    1
197     12.368421            Medium       0    1
198     13.055556            Medium       0    1
199      9.038462               Low       1    0
200     12.368421               Low       0    1

[201 rows x 30 columns]

In [9]:
df.head()  #printning the first 5 rows

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Low,0,1
1,1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Low,0,1
2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,2,164,audi,std,four,sedan,fwd,front,99.8,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Low,0,1
4,4,2,164,audi,std,four,sedan,4wd,front,99.4,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Low,0,1

In [10]:
df.tail()  #printing the last 5 rows

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
196,196,-1,95,volvo,std,four,sedan,rwd,front,109.1,...,9.5,114.0,5400.0,23,28,16845.0,10.217391,Low,0,1
197,197,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,...,8.7,160.0,5300.0,19,25,19045.0,12.368421,Medium,0,1
198,198,-1,95,volvo,std,four,sedan,rwd,front,109.1,...,8.8,134.0,5500.0,18,23,21485.0,13.055556,Medium,0,1
199,199,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,...,23.0,106.0,4800.0,26,27,22470.0,9.038462,Low,1,0
200,200,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,...,9.5,114.0,5400.0,19,25,22625.0,12.368421,Low,0,1

In [11]:
df.describe()   #printning the statistics for each column   (initial statistics)

,Unnamed: 0,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
count,201.000000,201.000000,201.00000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,197.000000,201.000000,199.000000,199.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,100.000000,0.840796,122.00000,98.797015,0.837102,0.915126,53.766667,2555.666667,126.875622,3.330692,3.256904,10.164279,103.396985,5117.587940,25.179104,30.686567,13207.129353,9.944145,0.099502,0.900498
std,58.167861,1.254802,31.99625,6.066366,0.059213,0.029187,2.447822,517.296727,41.546834,0.268072,0.319256,4.004965,37.553843,480.521824,6.423220,6.815150,7947.066342,2.534599,0.300083,0.300083
min,0.000000,-2.000000,65.00000,86.600000,0.678039,0.837500,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,0.000000,0.000000
25%,50.000000,0.000000,101.00000,94.500000,0.801538,0.890278,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,0.000000,1.000000
50%,100.000000,1.000000,122.00000,97.000000,0.832292,0.909722,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000,9.791667,0.000000,1.000000
75%,150.000000,2.000000,137.00000,102.400000,0.881788,0.925000,55.500000,2926.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,0.000000,1.000000
max,200.000000,3.000000,256.00000,120.900000,1.000000,1.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,1.000000,1.000000

In [12]:
df.info()  #use to print a concise summary of dataframe  e.g. how many cols, rows, data types etc.   (variable info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         201 non-null    int64
 1   symboling          201 non-null    int64
 2   normalized-losses  201 non-null    int64
 3   make               201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             197 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         199 non-null    float64
 22  peak-rpm           199 non-null    float64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    float64
 26  city-L/100km       201 non-null    float64
 27  horsepower-binned  199 non-null    object
 28  diesel             201 non-null    int64
 29  gas                201 non-null    int64
dtypes: float64(11), int64(9), object(10)
memory usage: 47.2+ KB

In [13]:
df.shape  # printing no. of rows and columns in dataframe  (dimensions of dataframe)

(201, 30)

In [14]:
df.size   #represents total no of elements in a dataframe

6030

In [15]:
df.dtypes #printning the datatype of each column

Unnamed: 0             int64
symboling              int64
normalized-losses      int64
make                  object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
city-L/100km         float64
horsepower-binned     object
diesel                 int64
gas                    int64
dtype: object

__2. Missing Values__

<h5>2.1 Find out the missing values</h5>

In [16]:
print("Missing Values: \n")
df.isnull().sum()   #printing how many missing values are there

Missing Values:

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    2
diesel               0
gas                  0
dtype: int64

In [17]:
df.isnull().any()

Unnamed: 0           False
symboling            False
normalized-losses    False
make                 False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke                True
compression-ratio    False
horsepower            True
peak-rpm              True
city-mpg             False
highway-mpg          False
price                False
city-L/100km         False
horsepower-binned     True
diesel               False
gas                  False
dtype: bool

In [18]:
print("Printnig the values which are not missing: \n")
df.notnull().sum()

Printnig the values which are not missing:

Unnamed: 0           201
symboling            201
normalized-losses    201
make                 201
aspiration           201
num-of-doors         201
body-style           201
drive-wheels         201
engine-location      201
wheel-base           201
length               201
width                201
height               201
curb-weight          201
engine-type          201
num-of-cylinders     201
engine-size          201
fuel-system          201
bore                 201
stroke               197
compression-ratio    201
horsepower           199
peak-rpm             199
city-mpg             201
highway-mpg          201
price                201
city-L/100km         201
horsepower-binned    199
diesel               201
gas                  201
dtype: int64

<h5>2.2 Deal with missing values</h5>

1. Drop data
    * Drop the whole row
    * Drop the whole column
2.  Replace data
    * Replace it by mean
    * Replace it by frequency / mode
    * Replace it by median
    * Replace it based on other functions

In [19]:
#dropping the column
df.drop(columns=["horsepower-binned"],axis=1,inplace=True)   

#specify col name/s, axis is set to 1 as it is column, inplace is true as we want to reflect changes into the original dataframe
#if inplace is false, it will assign changes to new dataframe
#for dropping a row, use 'df.drop(labels=[0,1],axis=0,inplace=True)' labels are row indices, axis is 0 as it is a row

In [20]:
#replace with mean
avg_stroke = df['stroke'].astype("float").mean(axis=0)
#This converts the values in the 'stroke' column to floating-point numbers. 
#This step is necessary if the values are stored as strings or other non-numeric types, ensuring that they can be used in mathematical operations.

print("Average of Stroke:",avg_stroke)

#replace NaN by mean value in 'stroke' column
df['stroke'] = df['stroke'].replace(np.nan, avg_stroke)

Average of Stroke: 3.256903553299492

In [21]:
#replace with mode
mode_horsepower = df['horsepower'].astype("float").mode()

mode_horsepower_value=mode_horsepower[0]

print("Mode of Horsepower: ",mode_horsepower_value)

#replace NaN by mode of 'horsepower' column
df['horsepower'] = df['horsepower'].replace(np.nan,mode_horsepower_value)

Mode of Horsepower:  68.0

In [22]:
#replace with median
median_peak_rpm = df['peak-rpm'].astype("float").median()

print("Median of Peak-RPM: ",median_peak_rpm)

#replace NaN by median of 'Peak-RPM' column
df['peak-rpm'] = df['peak-rpm'].replace(np.nan,median_peak_rpm)

Median of Peak-RPM:  5200.0

__3. Data Normalization__

<h5>Data Normalization is the process of scaling variable, so the value ranges from 0 to 1. It is also known as 'Min-Max Scaling' </h5>

In [23]:
min_max_scaler = MinMaxScaler()

length_2d = df['length'].values.reshape(-1,1)   #convert the panda series info 2D array for normalization

df['length_scaled'] = min_max_scaler.fit_transform(length_2d)

#to scale all the data:
#data_scaled = min_max_scaler.fit_transform(df)

__4. Data Encoding__

<h5>Convert Categorical data into Qualitative Data by label encoding</h5>

In [24]:
df['num-of-doors'] = df['num-of-doors'].map({'two':2,'four':4})

In [36]:
onehotenc = OneHotEncoder()
df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [32]:
df_dummy = df.drop(columns=['drive-wheels'])
df_dummy

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas,length_scaled
0,0,3,122,alfa-romero,std,2,convertible,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,0,1,0.413433
1,1,3,122,alfa-romero,std,2,convertible,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,0,1,0.413433
2,2,1,122,alfa-romero,std,2,hatchback,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,0,1,0.449254
3,3,2,164,audi,std,4,sedan,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,0,1,0.529851
4,4,2,164,audi,std,4,sedan,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,0,1,0.529851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,-1,95,volvo,std,4,sedan,front,109.1,0.907256,...,9.5,114.0,5400.0,23,28,16845.0,10.217391,0,1,0.711940
197,197,-1,95,volvo,turbo,4,sedan,front,109.1,0.907256,...,8.7,160.0,5300.0,19,25,19045.0,12.368421,0,1,0.711940
198,198,-1,95,volvo,std,4,sedan,front,109.1,0.907256,...,8.8,134.0,5500.0,18,23,21485.0,13.055556,0,1,0.711940
199,199,-1,95,volvo,turbo,4,sedan,front,109.1,0.907256,...,23.0,106.0,4800.0,26,27,22470.0,9.038462,1,0,0.711940
200,200,-1,95,volvo,turbo,4,sedan,front,109.1,0.907256,...,9.5,114.0,5400.0,19,25,22625.0,12.368421,0,1,0.711940

In [34]:
enc_df = (onehotenc.fit_transform(df[['drive-wheels']])).toarray()

In [37]:
enc_df = pd.DataFrame(enc_df,columns=['rwd','fwd','4wd'])
df2 = df_dummy.join(enc_df)

In [38]:
df2

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,engine-location,wheel-base,length,...,city-mpg,highway-mpg,price,city-L/100km,diesel,gas,length_scaled,rwd,fwd,4wd
0,0,3,122,alfa-romero,std,2,convertible,front,88.6,0.811148,...,21,27,13495.0,11.190476,0,1,0.413433,0.0,0.0,1.0
1,1,3,122,alfa-romero,std,2,convertible,front,88.6,0.811148,...,21,27,16500.0,11.190476,0,1,0.413433,0.0,0.0,1.0
2,2,1,122,alfa-romero,std,2,hatchback,front,94.5,0.822681,...,19,26,16500.0,12.368421,0,1,0.449254,0.0,0.0,1.0
3,3,2,164,audi,std,4,sedan,front,99.8,0.848630,...,24,30,13950.0,9.791667,0,1,0.529851,0.0,1.0,0.0
4,4,2,164,audi,std,4,sedan,front,99.4,0.848630,...,18,22,17450.0,13.055556,0,1,0.529851,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,-1,95,volvo,std,4,sedan,front,109.1,0.907256,...,23,28,16845.0,10.217391,0,1,0.711940,0.0,0.0,1.0
197,197,-1,95,volvo,turbo,4,sedan,front,109.1,0.907256,...,19,25,19045.0,12.368421,0,1,0.711940,0.0,0.0,1.0
198,198,-1,95,volvo,std,4,sedan,front,109.1,0.907256,...,18,23,21485.0,13.055556,0,1,0.711940,0.0,0.0,1.0
199,199,-1,95,volvo,turbo,4,sedan,front,109.1,0.907256,...,26,27,22470.0,9.038462,1,0,0.711940,0.0,0.0,1.0
200,200,-1,95,volvo,turbo,4,sedan,front,109.1,0.907256,...,19,25,22625.0,12.368421,0,1,0.711940,0.0,0.0,1.0

In [ ]:
one = OneHotEncoder()
df2 = df.drop(columns=[''])
enc = (one.fit_transform(df[['']])).toarray()
enc = pd.DataFrame(enc,columns=[])
df3 = d2.join(enc)